/* Font Imports */ 
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


/******************************************************************************
            Slideshow 
/******************************************************************************/
.slideshow {
    display: flex;
    justify-content: center;
}

.slides {
    height: 500px; 
    width: 100%;
}


/******************************************************************************
            Superior Service Section
/******************************************************************************/

.body {
    margin-top: 40px;
}

.slideShow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.about {
    background-image: url("winter-background.jpeg");
    height: 190px;
    margin-top: 20px;
}

.about h1 {
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
    font-size: 22px;
	font-family: 'Noto Serif', serif;
    position: relative;
    top: 20px;
    left: 20px;
}

.about p {
    text-align: left;
	font-family: 'Noto Serif', serif;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    top: 30px;
    left: 20px;

}

.service-section-content {
    position: relative;
    width: 700px;
    height: 300px;
    display: flex;
}


.contact-form {
    position: relative;
    left: 110px;
    top: 20px;
}

.contact-form h2 {
    width: 300px;
    font-weight: bold;
    position: relative;
    left: 55px;
    bottom: 16.5px;
    font-family: 'Passion One', cursive;
    font-weight: lighter;
    font-size: 28px;
}

.contact-form button {
    background-color: rgba(46, 46, 46, 1);
    border: none;
    color: white;
    padding: 12px 49px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 4px 2px;
    cursor: pointer;
    white-space: nowrap;
    font-family: 'Passion One', cursive;
    position: relative;
    left: 54px;
}

.contact-form button:hover {
    border: solid white;
    text-decoration: underline;
}

/******************************************************************************
            Explore our Instagram Section
/******************************************************************************/


.instagram {
    background-image: url("jungle-background.jpeg");
    margin-top: 20px;
    height: 190px;
}

.instagram-images{
    display: flex;
    justify-content: space-around;
}
.instagram-images img{
    width: 140px;
}

.instagram-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.instagram-title a {
    margin-right: 20px;
    font-family: 'Passion One', cursive;
    text-decoration: none;
    color: black;
    position: relative;
    top: 10px;
}

.instagram-title a:hover {
    text-decoration: underline;
}

.instagram-title h1 {
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Passion One', cursive;
    font-size: 25px;
    font-weight: lighter;
    position: relative;
    top: 5px;
}